<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>
    	<% @scheduletime.each do |scheduletime| %>
    	<% @scheduleitem.each do |scheduleitem| %>
      <tr><%= scheduletime %></tr>
      <td> <%= scheduleitem %></td>
      <% end %>
    </tr>
    <!-- etc. etc. -->
  </table>

</body>
</html>