<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>
    	<% @schedule. each do |schedulex| %>
    	<% @schedulex. each do |scheduley| %>
      <tr><%= schedulex %></tr>
      <td> <%= scheduley %></td>
      <% end %>
    </tr>
    <!-- etc. etc. -->
  </table>

</body>
</html>