<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Todo list</h1>

  <ul>
  	<% @Todo.each do |todo| %>
    <ol><%= Todo %></ol>
    <% end %>
  </ul>

</body>
</html>